{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="shortcut icon" href="https://simg.marwin.kz/media/favicon/stores/1/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Admin panel</h3>
            </div>

            <ul class="list-unstyled components">
                <p>MANAGE</p>
                <li class="">
                    <a href="{% url 'user_list' %}">USERS</a>
                </li>

                <li class="">
                    <a href="{% url 'book_list' %}">BOOKS</a>
                </li>
            </ul>
            <ul class="list-unstyled components">
                <li>
                    <a href="{% url 'admin_logout' %}">LOGOUT</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content" style="width: 100%;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button style="display: inline-block;" type="button" id="sidebarCollapse"
                            class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span></span>
                        </button>
                    </div>
                </div>
            </nav>


            {% if messages %}
            {% for i in messages %}
            <div class="mr-auto" style="display: inline-block;">
                <p class="{{i.tags}}">{{i}}</p>
            </div>
            {% endfor %}
            <br>
            {% endif %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">IMG</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">PHONE</th>
                        <th scope="col">AGE</th>
                        <th scope="col">GENDER</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {% if users %}
                {% for user in users %}
                <tr>
                    <td><img src="{% if user.image %} {{ user.image.url }} {% else %} /media/users/user.png {% endif %}"
                            alt="{{book.title}}" style="object-fit: cover; border-radius: 50%;" width="50px"
                            height="50px"></td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.age}}</td>
                    <td>
                        {% if user.gender == 'M' %}
                        Male
                        {% elif user.gender == 'F' %}
                        Female
                        {% else %}
                        Others
                        {% endif %}
                    </td>

                    <td>
                        <a href="{% url 'user_edit' pk=user.pk %}"><button class="btn btn-primary">EDIT</button></a>
                        <a href="{% url 'user_delete' pk=user.pk %}"><button class="btn btn-danger">DELETE</button></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>